@import '../../styles/variables';

.søkForeldrepenger {
    &__datovelger {
        margin-top: 32px;
    }

    &__ugyldigDato {
        margin-top: 8px;
        color: red;
        font-style: italic;
    }

    .nav-veilederpanel {
        margin-top: 32px;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .typo-element {
        margin-bottom: 8px;
    }

    a {
        align-self: center;
        width: 100%;
        margin-top: 32px;
    }

    .knapp {
        height: @button-height;
        width: 100%;
    }

    @media (min-width: @mobile-breakpoint) {
        a {
            max-width: 370px;
            margin-top: 64px;
        }

        .nav-veilederpanel {
            margin-bottom: -16px;
        }
    }
}