@import '../../styles/variables';

.søkForeldrepenger {
    width: 100%;

    .typo-element {
        margin-bottom: 0.5rem;
    }

    .innholdsfaner__faner {
        padding: 0;
    }

    &__radioWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 2rem;

        :first-child {
            margin-right: 1rem;
        }

        .radioPanel {
            width: 100%;
        }
    }

    @media (min-width: @mobile-breakpoint) {
        a {
            max-width: 370px;
            margin-top: 4rem;
        }

        .knapp {
            width: unset;
        }

        .nav-veilederpanel {
            margin-bottom: -1rem;
        }
    }
}
