@import '../../../styles/index.less';

.header {
    align-self: stretch;
    background-color: #e0dae7;
    .purpleBottomBorder();

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;

    &__content {
        flex: 1;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1rem 1rem 1.4rem;

        .typo-sidetittel {
            margin-bottom: 1rem;
            font-size: 2.25rem;
        }
    }

    &__svgContainer {
        align-self: flex-start;
        margin: 0 1rem 0 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @media (min-width: @mobile-breakpoint) {
        &__content {
            flex-direction: row;
            margin-top: 1rem;
        }

        &__text {
            flex: 3;
        }

        &__svgContainer {
            align-self: flex-end;
            margin: 0 1rem;
            flex: 1;
        }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .header {
            display: -webkit-flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            -ms-flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-box-orient: horizontal;

            &__content {
                -webkit-justify-content: space-around;
                justify-content: center;

                -ms-flex: 1 100%;
                -webkit-flex: 1;
                flex-grow: 1;
            }
        }
    }
}
