@import '../../../styles/variables.less';

.header {
    align-self: stretch;
    background-color: #e0dae7;
    border-bottom: 6px solid #826ba1;
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    
    &__content {
        flex: 1;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1rem 1rem 1.4rem;
        
        .typo-sidetittel {
            margin-bottom: 1rem;
            font-size: 2.25rem;
        }
    }

    &__svgContainer {
        align-self: flex-start;
        margin: 0 1rem 0 48px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @media (min-width: @mobile-breakpoint) {
        //height: 218px;

        &__content {
            flex-direction: row;
            margin-top: 1rem;
        }

        &__text {
            flex: 3;
        }

        &__svgContainer {
            align-self: flex-end;
            margin: 0 1rem;
            flex: 1;
        }
    }
}