@import '../styles/index.less';

@sidebar-breakpoint: 1300px;
@sidebar-vertical-breakpoint: 1046px;

.infosider {
    &__body {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin: 0;
    }

    &__content {
        width: 100%;
        max-width: @app-max-width;
    }

    &__alignLeft {
        align-self: center;
    }

    .nav-veilederpanel {
        background: transparent;
        margin: 2rem auto;
        max-width: 630px;
    }

    @media (min-width: @mobile-breakpoint) {
        &__body {
            margin: 0 1rem 1rem;
        }
    }
}
