@import '../../styles/variables.less';

.allInformasjon {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        height: 56px;
        background-color: #e0dae7;
        border-bottom: 4px solid #826ba1;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    &__content {
        width: 100%;
        max-width: 780px;
    }

    &__alignLeft {
        align-self: center;
    }

    .nav-veilederpanel {
        background: transparent;
        margin: 2rem auto;
        max-width: 630px;
    }

    @media (min-width: @mobile-breakpoint) {
        &__body {
            margin: 1rem;
        }
    }
}
