@import '../../styles/assets.less';

.factsWithIcon {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    width: 100%;
    padding: 1rem;

    &__fact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        p {
            margin-bottom: 0;
        }

        .blokk-xxs {
            margin-bottom: 0.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__svgContainer {
        width: 4.5rem;
        display: flex;
        justify-content: center;
    }

    .typo-normal {
        margin-left: 1.5rem;
    }

    .innhold {
        flex: 1;
        margin-top: 0;
        align-self: center;
    }

    @media (min-width: @mobile-breakpoint) {
        padding: 2rem;

        &__svgContainer {
            width: 6rem;
        }
    }
}
