@import '~nav-frontend-core/less/_variabler.less';

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0 1rem;
    align-self: flex-start;

    a {
        font-weight: lighter;
        color: @navBla;

        &:focus {
            outline: none;
            background-color: @orangeFocus;
        }
    }

    .chevron--hoyre {
        color: @navGra60;
        transform: scale(0.8) rotate(-90deg);
    }

    .chevron--venstre {
        margin-left: 1rem;
    }

    &__item {
        max-width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0.5rem;
        font-weight: bold;

        &:not(:first-child) {
            padding-left: 0.5rem;
        }
    }
}
