@import '../../../styles/variables.less';

.userHelp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;

    .hjelpetekst {
        padding-left: 0.5rem;
    }

    &__link {
        white-space: nowrap;
    }

    @media (min-width: @mobile-breakpoint) {
        margin-top: 0;
    }
}
