@import '../../styles/assets.less';

.svgBanner {
    height: 131px;
    width: 100%;
    background-color: #c1b5d0;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &__svg {
        position: absolute;
        left: 16px;
        bottom: 0;
    }

    &__cribSvg {
        position: absolute;
        bottom: 0px;
        right: 16px;
    }

    @media (min-width: @mobile-breakpoint) {
        &__svg {
            left: 56px;
        }

        &__cribSvg {
            right: 56px;
        }
    }
}
