@import '../../../../styles/index.less';

.informasjonsfaner {
    margin: 0 -1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3e3832;

    &__header {
        background-color: #fbfbfb;
        line-height: 1.38;
        padding: 2rem 0 1.5rem 2rem;
        font-weight: bold;
        margin-bottom: -0.25rem;
    }

    .nav-frontend-tabs {
        border-bottom: none;

        &__tab-label {
            padding-bottom: 0;
        }

        &__tab-list {
            background-color: #fbfbfb;
            height: 100px;
        }

        &__tab-outer {
            height: 100px;
            width: 100%;
            justify-content: center;
            border-bottom: none;
            margin: 0 0 0 0;
            background-color: white;
        }

        &__tab-inner {
            &:focus {
                .buttonFocusInset();
            }

            &--interaktiv {
                border: solid 0.5px #d9d9d9;
                border-radius: 0;
                width: 100%;
                top: 1px;
                justify-content: center;
            }

            &--aktiv {
                background-color: #fbfbfb;
                width: 100%;
                height: 100%;
                justify-content: center;
                border-radius: 0;
                top: 0;
                border: none;
                border-top: solid 0.5px transparent;
            }
        }
    }

    .InformasjonsfanerBody {
        background-color: #fbfbfb;
        width: inherit;
    }

    .nav-frontend-tabs__tab-inner {
        padding-left: 0;
        padding-right: 0;
    }

    .InformasjonsfanerBody {
        background-color: #fbfbfb;
        padding: 2rem;

        &__bodyTxt {
            margin-top: 1rem;
        }

        li {
            font-size: 0.75rem;
            margin-top: 0.25rem;
        }

        ul {
            margin: 0.5rem;
        }

        .nav-veileder {
            &__snakkeboble {
                padding: 0.5rem 1.25rem;
            }

            &__frame {
                background-color: @lavender;
            }

            .foreldrepar {
                transform: scale(2);
                margin-bottom: 19px;
            }
        }
    }

    .nav-frontend-tabs {
        border-bottom: none;

        &__tab-outer,
        &__tab-label {
            overflow: hidden;
        }

        .fanelabel__label {
            .containText();
        }
    }

    @media (min-width: @mobile-breakpoint) {
        margin: 0;

        &__header {
            margin-top: 2rem;
        }

        .nav-frontend-tabs__tab-inner {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
