@import '../../styles/variables';

.frontpage {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px;
        align-self: stretch;
        height: 198px;
        background-color: #e7dae1;
        border-bottom: 5px solid #a190b8;
    }
    
    &__content {
        width: 100%;
        max-width: @app-max-width;
        padding: 2rem 0rem;
    }

    &__filler {
        height: 40px;
    }
}