.nårKanDuSøke {
    &__tabContent {
        align-self: flex-start;

        &--inactive {
            display: none;
        }
    }

    .typo-undertittel {
        align-self: flex-start;
    }

    .factsWithIcon {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &__svgContainer {
            display: flex;
            justify-content: center;
        }
    }

    .nav-frontend-tabs {
        margin-top: 2rem;
        align-self: flex-start;

        &__tab-inner--interaktiv {
            letter-spacing: 0.2px;
        }
    }
}
