.nårKanDuSøke {
    &__tabContent {
        align-self: flex-start;
        width: 100%;

        &--inactive {
            display: none;
        }
    }

    .typo-undertittel {
        align-self: flex-start;
    }

    .nav-frontend-tabs {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        align-self: flex-start;

        &__tab-inner--interaktiv {
            letter-spacing: 0.2px;
        }
    }
}
