@import '../../../../styles/index.less';

.informasjonsfaner {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3e3832;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .nav-frontend-tabs {
        &__tab-list {
            overflow: hidden;
        }

        &__tab-outer {
            width: 100%;
        }

        &__tab-inner {
            margin: 0 auto;

            &:focus {
                .buttonFocus();
            }
        }
    }

    .faneinnhold {
        background-color: #fbfbfb;
        padding: 1rem;
        margin: 1rem -1rem;
        width: inherit;

        p:last-child,
        ul:last-child {
            margin-bottom: 0;
        }

        .nav-veileder {
            margin-bottom: 1rem;

            &__snakkeboble {
                padding: 1.25rem;
            }

            &__frame {
                background-color: @lavender;
            }

            .foreldrepar {
                transform: scale(2);
                margin-top: 1.4rem;
            }
        }
    }

    @media (min-width: @mobile-breakpoint) {
        margin: 0;

        &__header {
            margin-top: 2rem;
        }

        .nav-veileder {
            margin-bottom: 2rem;
        }

        .faneinnhold {
            padding: 2rem;
            margin-left: 0;
            margin-right: 0;

            .veilederposisjon {
                display: flex;
            }
        }
    }
}
