.lesMer {
    width: 100%;

    .ekspanderbartPanel {
        &--apen .ekspanderbartPanel__flex-wrapper {
            border-bottom-color: lightgray;
        }

        &__innhold {
            padding: 1.5rem 1.5rem;

            :last-child {
                margin-bottom: 0;
            }
        }

        &__flex-wrapper {
            border-bottom: 2px solid transparent;
            padding-bottom: 1rem;
        }

        &__hode {
            padding: 1rem 1.5rem 0rem;
            background-color: unset;
        }
    }
}
