.strukturertTekst {
    &__avsnitt {
        margin: 1rem 0;
    }

    &__tittel {
        margin-top: 1rem;
    }

    &__tittel + .strukturertTekst__avsnitt {
        margin-top: 0.25rem;
    }

    &__navFont {
        font-family: 'Source Sans Pro', Arial, sans-serif;
    }

    ul, ol {
        padding-left: 18px;
        margin: 0;
    }

    li {
        padding-left: 1rem;
        line-height: 1.4rem;
    }

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        max-width: 100%;

        &__avsnitt {
            max-width: 100%;
        }

    }
}

