.valg {
    width: 100%;
    max-width: 800px;
    background-color: white;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    &__ingress {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    &__knapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__valg-fane {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-frontend-tabs__tab-inner--aktiv
        &__valg-fane-bakgrunn {
            opacity: 0.5;
        }


    &__valg-fane-bakgrunn {
        background-color: #7eb0e1;
        position: relative;
        height: 90px;
        width: 70px;
        margin-top: -0.1rem;
        margin-bottom: -4.6em;
        z-index: 1;
        opacity: 0;
        border-radius: 5px;
    }

    &__valg-fane-bilde  {
        z-index: 2;

    }

    .nav-frontend-tabs {
        width: 100%;
    }
    .nav-frontend-tabs__tab-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .storToggle {
        width: 7.5rem;
        height: 8rem;
        padding: 1rem;
    }

    &__knapp-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__knapp-frame {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        width: auto;
        justify-items: center;
    }

    &__ingress-knapp {
        text-align: center;
    }

    &__label {
        padding-top: 0.5rem;
    }

    &__forelder {
        padding-bottom: 1rem;
    }

    &__kort {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    &__kort-rad {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__kort-rad {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    &__valg-checkboxes {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .radioPanel {
        width: 100%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
