.beregning .fane {
    &__background {
        width: 140px;
        height: 140px;
        margin-top: 5px;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            margin-top: -15px;
            margin-left: -70px;
        }
    }
}
