@import '../../styles/index.less';

.veiviser {

  &__header {

  }
&__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 &__content {
   width: 100%;
   max-width: 800px;
   justify-content: center;
 }

  @media(min-width: @mobile-breakpoint) {

  }

}