.informasjonstavle {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        max-width: 800px;
        width: 100%;
        margin-top: 3rem;
    }

    &__hovedlenker {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__panelMedBilde {
        width: 240px;
    }

    &__imageOnPanel {
        background-color: #e0dae7;
        border-bottom: 4px solid #826ba1;
        height: 171px;
    }

    &__panelOnPanel {
        height: 187px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0 0 4px 4px;
    }

    &__textOnPanel {
        display: flex;
        flex-direction: column;

        .typo-normal {
            margin-top: 8px;
        }
    }

    &__panelChevron {
        align-self: center;
        margin-top: 1rem;
    }

    .merInformasjon {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 3rem 0;

        &__title {
            height: 68px;
            margin-bottom: 2px;
            background-color: white;

            // Flex over alt!
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 4px 4px 0 0;
        }

        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__link {
            flex: 1;
            background-color: white;
            padding: 1rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            &:nth-child(1), &:nth-child(2) {
                margin-right: 2px;
            }

            &:nth-child(1) {
                border-radius: 0 0 0 4px;
            }

            &:nth-child(2) {
                border-radius: none;
            }

            &:nth-child(3) {
                border-radius: 0 0 4px 0;
            }

            .typo-element {
                margin-bottom: 8px;
            }

            .typo-normal {
                overflow: hidden;
                word-break: normal;
            }
        }

        &__chevron {
            margin: 2rem 0 0.5rem;
            align-self: center;
        }
    }
}
