@import '../../styles/index.less';

.hvaSøkerDu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    .containText();

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        height: 56px;
        background-color: #e0dae7;
        .purpleBottomBorder();
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
    }

    &__content {
        width: 100%;
        max-width: @app-max-width;
    }

    &__button-container {
        display: flex;
        align-self: stretch;
        flex-direction: column;
        align-items: stretch;
    }

    &__two-buttons-navigation {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.125rem;

        .hvaSøkerDu__knapp:nth-child(1) {
            margin-bottom: 1rem;
        }

        .userHelp {
            padding-left: 0;
        }
    }

    &__knapp {
        height: @button-height;
        align-self: stretch;
        padding: 0 1rem;
        .containText();
    }

    .typografi--undertittel {
        font-weight: 600;
    }

    .typo-normal {
        margin-block-end: 0;
    }

    @media (min-width: @mobile-breakpoint) {
        &__button-container {
            flex-direction: row;
        }

        &__two-buttons-navigation {
            flex-direction: column;

            .hvaSøkerDu__knapp:nth-child(1) {
                margin-bottom: 0;
                margin-right: 0.5rem;
            }

            .userHelp {
                padding-top: 1rem;
                align-self: flex-start;
            }
        }

        &__knapp {
            align-self: center;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .buttonPanel {
                max-width: 100%;

                &__knapp {
                    width: auto;
                }
            }

            .buttonPanel > .userHelp {
                max-width: 100%;
                padding-right: 80px;
            }
        }
    }

    @media (min-width: @tablet-breakpoint) {
        &__body {
            padding: 0 1rem;
        }

        &__two-buttons-navigation {
            flex-direction: row;

            .userHelp {
                padding-top: 0;
                padding-left: 1rem;
                align-self: center;
                margin-top: 0;
            }
        }
    }
}
