.jegVilJobbe {
    .lesmerPanel {
        width: 100%;
        margin: 1rem 0;
    }

    &__eksempeltekst {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .nav-frontend-tabs {
        width: 100%;
    }

    &__jobbeHeltid {
        padding: 1rem 0 2rem 0;
        width: 100%;
    }

    &__jobbeDelvis {
        padding: 1rem 0 2rem 0;
        width: 100%;
    }

    &__firstDropdown {
        margin-bottom: 1rem;
    }

    &__jobbeHeltid .strukturertTekst .typo-normal {
        margin: 0;
    }

    &__jobbeDelvis .strukturertTekst .typo-normal  {
        margin: 0;
    }

    .fade-out {
        opacity: 0.1;
        transition: opacity 500ms ease-in;
    }

    .fade-enter {
        opacity: 1;
        transition: opacity 1500ms ease-in;
    }
}