@import '../../styles/assets.less';

.panelMedIllustrasjon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    padding: 2rem 1rem;

    :last-child {
        p {
            :last-child {
                margin-bottom: 0;
            }
        }
    }

    .innhold {
        align-self: flex-start;
        width: 100%;
    }

    .lesMer {
        margin-bottom: 1rem;
    }

    .typo-innholdstittel {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 400px;
    }

    &__roundSvgMask {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        overflow: hidden;
        background-color: #c1b5d0;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__divider {
        width: 64px;
        height: 2px;
        background-color: black;
        margin-bottom: 2rem;
    }

    .factsWithIcon {
        margin-bottom: 1.5rem;
    }

    @media (min-width: @mobile-breakpoint) {
        padding: 2rem 3rem;
        border-radius: 4px;
    }

    @media (min-width: @tablet-breakpoint) {
        padding: 2rem 5rem;
        border-radius: 4px;
    }
}
