@import '../../../styles/variables.less';

.buttonPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__noBorder {
        width: 100%;
        border: none;
    }

    .lenke, .knapp {
        width: 100%;
    }

    @media (min-width: @mobile-breakpoint) {
        flex-direction: row;
        justify-content: space-between;

        .lenke, .knapp {
            width: unset;
        }
    }
}
