@import '../../../styles/index.less';

@button-padding: 3px;

.buttonPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: -@button-padding;

    &__buttons {
        display: flex;
        flex-direction: column;
        width: 100%;

        :nth-child(2) {
            margin-top: 1rem;
        }
    }

    .userHelp {
        margin-top: 1rem;
    }

    @media (min-width: @mobile-breakpoint) {
        &__buttons {
            max-width: 100%;
            flex-direction: row;

            :nth-child(2) {
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }

    @media (min-width: @tablet-breakpoint) {
        flex-direction: row;

        &__buttons {
            width: auto;
        }

        .userHelp {
            margin-top: 0;
            margin-left: 1rem;
        }
    }
}
