.menHvaHvis {
    &__header {
        margin-top: 32px;
        width: 100%;
        text-align: center;
    }

    &__noenVilPaFerie,
    &__jegVilJobbe,
    &__enAvOssBlirSyk,
    &__hjemmeSamtidig {
        width: 10px;
        height: 10px;
    }

    &__body {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        margin-top: 1.5rem;
        justify-content: space-between;
        padding: 0 4rem;
    }
}
