@import '../../styles/index.less';

.kalkulator {
    &__headerPanel {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
    }

    .strukturertTekst {
        align-self: center;
    }

    .typo-undertittel {
        text-align: center;
    }

    .beregning__headerIcon {
        margin: 0.5rem;
    }

    &__flexDownwards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .typo-undertittel {
            margin-top: 3rem;
            margin-bottom: 0.5rem;
        }
    }

    .nav-veilederpanel .strukturertTekst {
        margin-top: 0;
    }

    &__avviksbeskrivelse {
        white-space: pre-wrap;
    }

    .skjema__legend {
        text-align: center;
        font-weight: normal;
    }

    .inputPanelGruppe {
        margin-top: 0.5rem;

        &__inner {
            margin-top: 1rem;
        }
    }

    .inputPanel {
        &:nth-last-child(1) {
            margin-bottom: 0.5rem;
        }
    }

    &__resultater {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin-top: 1rem;
    }

    &__resultat {
        position: relative;
        flex: 1;
        border-radius: 4px;
        padding: 1.5rem;
        background-color: #efefef;
        
        &:nth-child(2) {
            margin-top: 2rem;
        }

        .typo-undertittel {
            margin-top: 0.25rem;
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__topMargin {
        margin-top: 1.5rem;
    }

    &__resultatIcon {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
    }

    &__divider {
        height: 1px;
        background-color: #c5c2bf;
        width: 100%;
        margin: 1rem 0;
    }

    .nav-veilederpanel {
        margin: 1rem 2.2rem;
    }

    &__disclaimer {
        font-size: 0.8rem;
        align-self: flex-start;
        
        .strukturertTekst__avsnitt {
            margin: 0;
        }
    }

    @media (min-width: @mobile-breakpoint) {
        .inputPanelGruppe {
            &__inner {
                display: flex;
                flex-direction: row;
            }
        }

        .inputPanel {
            margin-bottom: 0;

            &:nth-last-child(1) {
                margin-bottom: 0rem;
            }

            &:not(:nth-child(1)) {
                margin-left: 1rem;
            }
        }

        .panelMedIllustrasjon {
            padding: 2rem 5rem;
        }
    }

    @media (min-width: @tablet-breakpoint) {
        &__resultat {
            &:nth-child(2) {
                margin-top: 0;
                margin-left: 2rem;
            }
        }

        &__resultater {
            display: flex;
            flex-direction: row;
        }
    }
}