@import '../../../styles/variables.less';

.forÅFåForeldrepenger {
    &__alignLeft {
        align-self: center;
        padding: 0 1rem;
    }

    &__kravTilForeldrepenger {
        margin-top: 1.5rem;
    }

    &__krav {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
            font-size: 14px;
        }

        &:not(:nth-child(1)) {
            margin-top: 2rem;
        }
    }

    &__kravtittel {
        margin: 1rem 0;
        text-align: center;

        &__innhold {
            border-bottom: solid 0.5px #c5c5c5;
            padding-bottom: 1px;
        }
    }

    @media (min-width: @mobile-breakpoint) {
        &__kravTilForeldrepenger {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        &__kravtittel {
            min-height: 48px;
        }

        &__krav {
            max-width: 170px;
            text-align: left;

            &:not(:nth-child(1)) {
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }
}
