@import '../../../styles/index.less';

.fane {
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    width: 120px;
    z-index: 0;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        z-index: 2;
    }

    &--most {
        width: unset;
        flex: 1;
    }

    &:hover:not(.fane--selected) {
        cursor: pointer;

        .typo-normal {
            text-decoration: underline;
        }
    }

    &:focus {
        .buttonFocus();
    }

    .typo-normal {
        color: @navBla;
        font-size: 0.9rem;
        margin-top: 0.3rem;
        letter-spacing: 0.1px;
        white-space: pre-wrap;
    }

    &__selector {
        margin-top: 0.5rem;
        height: 2px;
        width: 80%;
        background-color: #005177;
        visibility: hidden;
    }

    &--selected {
        .typo-normal {
            color: black;
            font-weight: bold;
            letter-spacing: 0;
        }

        .fane__selector {
            visibility: visible;
        }
    }

    &__inner {
        width: 85%;
    }
}