@import '../../../styles/index.less';

.fane {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 120px;
    height: 120px;
    cursor: pointer;
    z-index: 0;
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        z-index: 2;
    }

    &__background {
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        height: 120px;
        width: 120px;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            z-index: 1;
            margin-left: -62px;
            margin-top: -17px;
        }
    }

    @supports (-ms-ime-align: auto) {
        &__background {
            z-index: 1;
        }
    }

    &--most {
        width: unset;
        flex: 1;
    }

    &:focus {
        outline: none;

        .fane__background {
            .buttonFocus();
        }
    }

    .typo-normal {
        font-size: 0.9rem;
        height: 2rem;
        margin-top: 0.3rem;
        letter-spacing: 0.1px;
    }

    &--selected {
        .typo-normal {
            font-weight: bold;
            letter-spacing: 0;
        }

        .fane__background {
            background-color: @fane;
        }

        &:active .fane__background {
            background-color: @faneAktiv;
        }
    }

    &__inner {
        width: 85%;
    }

    &__pointer {
        position: absolute;
        z-index: -1;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            z-index: 1;
            margin-left: -8px;
        }
    }

    @supports (-ms-ime-align: auto) {
        &__pointer {
            z-index: 1;
        }

    }
    &__point-wrapper {
        position: absolute;
    }

    &__indicator {
        position: relative;
        max-width: 100%;
        margin-right: 23px;
        margin-top: 120px;
    }

    &__pointer > span {
        position: absolute;
        display: inline-block;
        padding-bottom: 10px;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            margin-top: -99px;
        }
    }
}

@supports (-ms-ime-align: auto) {
    .fane {
        z-index: 2;
    }
}
