@import '../../../styles/index.less';

@box-spacing: 0.5rem;

.merInformasjon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2rem 0;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 4px 4px 0 0;
        height: 68px;
        margin-bottom: @box-spacing;
        margin-left: 1.5rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        background-color: white;
        color: black;
        padding: 20px;
        text-decoration: none;
        .containText();

        &:nth-child(1), &:nth-child(2) {
            margin-bottom: @box-spacing;
        }

        &:nth-child(3) {
            border-radius: 0 0 4px 4px;
        }
        
        &:hover {
            color: #0067c5;
            box-shadow: #B7B1A9 0 2px 1px 0;
            cursor: pointer;

            .typo-undertittel {
                text-decoration: underline;
            }

            .nav-frontend-chevron {
                left: 6px;
            }
        }

        &:focus {
            outline: none;
            background-color: white;
            box-shadow: 0 0 0 3px #FFBD66;
        }

        .typo-undertittel {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .typo-normal {
            overflow: hidden;
            word-break: normal;
            .containText();
        }
    }

    &__chevron {
        margin: 1rem;
        margin-right: 0;
        align-self: center;
    }

    .nav-frontend-chevron {
        left: 0;
        transition: left 250ms;
    }

    @media (min-width: @mobile-breakpoint) {
        margin: 2rem 0rem;

        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__link {
            flex: 1;
            flex-direction: column;

            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 0;
                margin-right: @box-spacing;
            }

            &:nth-child(1) {
                border-radius: 0 0 0 4px;
            }

            &:nth-child(3) {
                border-radius: 0 0 4px 0;
            }
        }

        &__chevron {
            margin-right: 1rem;
        }
    }
}