@import '../../../styles/assets.less';

@box-spacing: 1rem;

.merInformasjon {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &__link {
        align-items: stretch;
        background-color: white;
        border-radius: 4px;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        text-decoration: none;
        .containText();

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: @box-spacing;
        }

        &:hover {
            color: #0067c5;
            box-shadow: #b7b1a9 0 2px 1px 0;
            cursor: pointer;

            .typo-undertittel {
                text-decoration: underline;
            }

            .nav-frontend-chevron {
                left: 6px;
            }
        }

        &:focus {
            outline: none;
            background-color: white;
            box-shadow: 0 0 0 3px #ffbd66;
        }

        .typo-undertittel {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .typo-normal {
            overflow: hidden;
            word-break: normal;
            .containText();
        }
    }

    &__chevron {
        margin: 1rem;
        margin-right: 0;
        align-self: center;
    }

    .nav-frontend-chevron {
        left: 0;
        transition: left 250ms;
    }

    @media (min-width: @mobile-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__link {
            flex: 1;
            flex-direction: column;

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 0;
                margin-right: @box-spacing;
            }
        }

        &__chevron {
            margin-right: 1rem;
        }
    }
}
