@import '../../styles/variables.less';

.innholdsfaner {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;

    &__mobilfane {
        position: relative;
        z-index: 1;
    }

    &__tabIndicator {
        height: 2px;
        background-color: #efefef;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 36px;
    }

    .skjemaelement__label {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .skjemaelement .selectContainer {
        height: 2rem;
    }

    @media (min-width: @tablet-breakpoint) {
        margin-top: 3rem;

        &__faner {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 1rem 2rem;
            max-width: 100%;
        }
    }
}
