.callout {
    @bkgColor: #efefef;
    position: relative;
    border-radius: .5rem;
    background-color: @bkgColor;
    padding: 1rem;

    &__arrowWrapper {
        position: absolute;
        height: 100%;
        max-height: 6rem;
        top: 0;
        display: flex;
        align-items: center;
        right: 100%;

        &--none {
            display: none;
        }
    }

    &__arrow {
        border: solid transparent;
        pointer-events: none;
        border-right-color: @bkgColor;
        border-width: .75rem;
        transform: scaleY(.75)
    }

}
