@import '../../../styles/index.less';

.innholdsfortegnelse {
    position: fixed;
    //display: none;
    width: 200px;
    top: calc(50% - 14rem);
    transform: translateX(calc(-100% - 1.5rem)) scale(0.8);
    padding-top: 4rem;
    opacity: 0;
    transition: all 200ms;

    &__lenke {
        margin-bottom: 1rem;
        white-space: pre-wrap;

        &:nth-child(1) {
            margin-top: 3rem;
        }
    }

    &__søkNå {
        width: 100%;
        margin-top: 0.5rem;
        height: 40px;
    }

    &__currentSection {
        color: black;
        font-weight: bold;
    }

    &__icon {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -50px;
        left: 50px;
    }

    &--anchorToTop {
        // position: absolute;
        // top: unset;

        opacity: 1;
        transform: translateX(calc(-100% - 1.5rem)) scale(1);
        transition: all 500ms;
    }
}