@import '../../../styles/index.less';

.innholdsfortegnelse {
    position: sticky;
    top: calc(50% - 14rem);

    &__lenke {
        margin-bottom: 1rem;
        white-space: pre-wrap;

        &:nth-child(1) {
            margin-top: 3rem;
        }
    }

    &__søkNå {
        width: 100%;
        margin-top: 0.5rem;
        height: 40px;
    }

    &__currentSection {
        color: black;
        font-weight: bold;
    }

    &__icon {
        display: flex;
        justify-content: center;
        transform: translateY(calc(-50% - 1rem));
        align-items: center;
        margin-bottom: -2rem;
    }
}