@import '../../../styles/index.less';

.informasjonsbanner {
    margin: 0 1rem 2rem;
    border: 1px solid #ff9100;
    border-radius: 0.25rem;
    padding: 2rem 1rem;

    p:last-child {
        margin-bottom: 0;
    }

    .alertstripe {
        &__ikon {
            width: 3.5rem;
            margin-right: 1rem;
            border-right-width: 2px !important;

            svg {
                height: 2.5rem;
                width: 2.5rem;

                g {
                    fill: #ff9100;
                }
            }
        }
    }

    @media (min-width: @mobile-breakpoint) {
        margin: 0 0 2rem;
    }
}
