.innhold {
    margin: 1.5rem 0;

    p {
        margin-bottom: 1rem;
    }

    &__tittel {
        margin-top: 1rem;
    }

    &__tittel + .innhold__avsnitt {
        margin-top: 0.25rem;
    }

    &__navFont {
        font-family: 'Source Sans Pro', Arial, sans-serif;
    }

    &__unbreakable {
        white-space: nowrap;
    }

    .lesMer {
        width: 100%;
    }

    ul,
    ol {
        padding-left: 1.125rem;
        margin: 0;
    }

    h2 {
        margin-bottom: 1rem;
    }

    li {
        padding-left: 1rem;
        line-height: 1.4rem;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 100%;

        &__avsnitt {
            max-width: 100%;
        }
    }
}
