@import '../../styles/assets.less';

.panelMedBilde {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    .containText();

    &:hover {
        box-shadow: @navGra40 0 2px 1px 0;

        .panelMedBilde__panelOnPanel {
            color: @navBla;
            cursor: pointer;

            .typo-undertittel {
                text-decoration: underline;
            }
        }

        .panelMedBilde__panelChevron {
            left: 6px;
        }
    }

    &:focus {
        .buttonFocus();
    }

    &:nth-child(2),
    &:nth-child(3) {
        margin-top: 1rem;
    }

    &__imageOnPanel {
        background-color: @lavender;
        border-radius: 4px 4px 0 0;
        height: 100px;
        width: 100%;
        .purpleBottomBorder();

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            height: 120px;
        }
    }

    &__svgContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        float: left;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: 100%;
        }
    }

    &__panelOnPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0 0 4px 4px;
        padding: 1rem 1.25rem 1.25rem;
        color: black;
        .containText();
    }

    &__textOnPanel {
        display: flex;
        flex-direction: column;
        width: 100%;

        .typo-normal {
            .containText();
        }

        .typo-undertittel,
        .typo-normal {
            .containText();
        }

        .typo-undertittel {
            padding-bottom: 0.5rem;
        }
    }

    &__panelChevron {
        align-self: center;
        margin: 1rem;
        margin-right: 0;
        left: 0;
        transition: all 250ms;
    }

    @media (min-width: @mobile-breakpoint) {
        &__svgContainer {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 60%;
            }
        }
    }

    @media (min-width: @tablet-breakpoint) {
        flex: 1;

        &__textOnPanel {
            .typo-undertittel {
                padding-bottom: 0.5rem;
            }
        }

        &__panelChevron {
            display: none;
        }

        &__imageOnPanel {
            height: 135px;
            align-items: center;
        }

        &__panelOnPanel {
            height: 100%;
            flex-direction: column;
        }

        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 0;
            margin-left: 2rem;
        }

        &__panelChevron {
            margin-right: 1rem;
        }

        &__svgContainer {
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 100%;
            }
        }
    }
}
